.text-uppercase{
    font-weight: bold;
    font-family: 'Inter', sans-serif;
}

.list-unstyled{
    font-family: 'Inter', sans-serif;
}

.navbar-brand{
    font-family: 'Inter', sans-serif;
    font-weight: bold;
}